<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect to remove index.php
    RewriteCond %{REQUEST_URI} ^/index\.php
    RewriteRule ^index\.php/?(.*)$ /$1 [L,R=301]

    # Redirect non-existing files and folders to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
